@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.contacto form .form-item .input, #testimonios .formulario textarea, #testimonios .formulario .input {
  box-shadow: 4px 4px 10px aqua;
}

body {
  font-family: "Sansation", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

h1 {
  color: white;
  font-size: 50px;
}

h2 {
  color: white;
  font-size: 30px;
}

.boton {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem !important;
}
.boton a {
  color: white;
  background-color: black;
  font-size: 20px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: inset 0 0 4px white;
  padding: 10px 15px 10px 15px;
  transition: 1s;
}
.boton a:hover {
  background-color: grey;
}

header {
  height: 80px;
  background: #ffffff;
  background: linear-gradient(123deg, rgb(255, 255, 255) 15%, rgb(94, 94, 94) 59%, rgb(0, 0, 0) 91%);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
}
header .logo {
  height: 80px;
}
header p {
  margin-bottom: 0 !important;
  color: black;
  text-shadow: 0 0 5px #0ff, 0 0 10px rgb(54, 115, 115), 0 0 20px #0ff;
  font-size: 40px;
}
header .menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
header .menu-hamburguesa-checkbox {
  display: none;
}
header nav ul {
  display: flex;
  margin-bottom: 0 !important;
}
header nav ul li a {
  color: white;
  padding: 10px;
  transition: 2s;
}
header nav ul li a:hover {
  background-color: rgba(128, 128, 128, 0.515);
  transform: scale(2);
}

.hero {
  height: 100vh;
  text-align: center;
  background-image: url(../img/imagenHeroSection.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
}
.hero h1 {
  background-color: rgba(0, 0, 0, 0.479);
  padding: 20px;
  margin-bottom: 0 !important;
  animation: slidein 2s ease-in-out;
}
.hero p {
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}
.topicos {
  min-height: 6nth 2px, 4px, 5px, 10px, 15px, 20px, 30px, 40px, 50px, 500px, 9;
  background-image: url(../img/otro.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.topicos h2 {
  background-color: black;
  padding: 40px;
  text-align: center;
  box-shadow: inset 0 0 20px white;
}
.topicos .contenedor-general {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.topicos .contenedor-general .contenedor-tarjetas {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto {
  width: 25%;
  height: 25em;
  margin: 2em;
  padding: 0.5em;
  perspective: 1000px;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto:hover .tarjeta-inner {
  transform: rotateY(180deg);
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-front,
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-front {
  background-color: white;
  z-index: 2;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.13);
  transform: rotateY(180deg);
  border: 2px solid black;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.714);
  padding: 1em;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back h3 {
  margin-bottom: 0.5em;
  color: black;
  font-size: 2nth 2px, 4px, 5px, 10px, 15px, 20px, 30px, 40px, 50px, 500px, 3;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back p {
  color: black;
  margin-bottom: 1em;
  font-size: 18px !important;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 4px 4px 20px aquamarine;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back a {
  color: white;
  background-color: black;
  width: 80%;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
  transition: 2s;
}
.topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back a:hover {
  background-color: aquamarine;
  color: black;
  border: 2px solid grey;
  width: 100%;
}
.topicos .contenedor-general .boton {
  align-self: center;
}

.casos {
  height: 950px;
  background-image: url(../img/relojarena.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}
.casos h2 {
  background-color: grey;
  padding: 30px;
  text-align: center;
  margin-bottom: 0 !important;
  box-shadow: inset 0 0 20px white;
}
.casos .bloque-casos-catarsis {
  width: 100% !important;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.casos .bloque-casos-catarsis h3 {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.344);
  width: 100%;
  padding: 25px;
  margin-bottom: 1rem;
  margin-top: 1em;
}
.casos .bloque-casos-catarsis .carousel {
  width: 60%;
  margin-bottom: 1em;
  align-self: flex-start;
  margin-left: 40px;
  transition: 3s;
}
.casos .bloque-casos-catarsis .carousel:hover {
  width: 70%;
}
.casos .bloque-casos-catarsis .carousel .carousel-inner .carousel-caption {
  width: 100%;
  left: 0;
}
.casos .bloque-casos-catarsis .carousel .carousel-inner .carousel-caption h5 {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.479);
  margin-bottom: 0;
}
.casos .bloque-casos-catarsis .carousel .carousel-inner .carousel-caption p {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.479);
}

.presentacion-topicos {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/persona-mente.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.presentacion-topicos h1 {
  color: white;
  font-size: 50px;
  padding: 40px;
  margin-bottom: 20px;
}
.presentacion-topicos p {
  color: white;
  font-size: 30px;
}

.explorador-topicos .dropdown-contenedor {
  display: none;
}

.grid-contenedor {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  align-items: start;
}
.grid-contenedor .lista {
  position: sticky;
  top: 80px;
  background: white;
  height: fit-content !important;
  padding: 4px;
}
.grid-contenedor .lista h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.479);
  font-size: 20px;
  text-align: center;
  padding: 4px;
  margin-bottom: 4px;
}
.grid-contenedor .lista ol {
  padding: 4px;
  text-align: center;
}
.grid-contenedor .lista ol li {
  margin: 4px;
  padding-left: 15%;
  padding-right: 15%;
  border: 2px solid grey;
  background-color: rgba(0, 255, 255, 0.344);
}
.grid-contenedor .lista ol li:hover {
  background-color: grey;
  border-color: aqua;
}
.grid-contenedor .lista ol li a {
  color: black;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.descripcion .tarjeta-topico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  margin: 10px;
  border: 1px solid grey;
}
.descripcion .tarjeta-topico h3 {
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.479);
}
.descripcion .tarjeta-topico p {
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
}
.descripcion .tarjeta-topico img {
  width: 80%;
  max-height: 500px;
  align-self: center !important;
}

.portada-casos {
  height: 100vh;
  text-align: center;
  background: linear-gradient(rgba(142, 142, 142, 0.671), rgba(33, 33, 33, 0.6)), url(../img/rostro.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.portada-casos h1 {
  color: white;
  font-size: 50px;
  margin: 30px;
}
.portada-casos p {
  color: white;
  font-size: 35px;
}

.presentacion-casos {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: space-between;
}
.presentacion-casos div h2 {
  background-color: black;
  padding: 30px;
  text-align: center;
  box-shadow: inset 0 0 20px white;
  margin-bottom: 0;
}
.presentacion-casos div .bloques-videos {
  height: 30em;
  background: #ffffff;
  background: linear-gradient(88deg, rgb(255, 255, 255) 18%, rgb(166, 159, 159) 47%, rgb(186, 232, 232) 70%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.presentacion-casos div .bloques-videos .contenido-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.presentacion-casos div .bloques-videos .contenido-video h3 {
  font-size: 2em;
  padding: 1em;
  background-color: rgba(0, 255, 255, 0.344) !important;
  width: 100%;
}
.presentacion-casos div .bloques-videos .contenido-video p {
  font-size: 1.5rem;
  padding: 1rem;
}
.presentacion-casos div .bloques-videos .videos-casos {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.727);
  box-shadow: -5px -5px 20px rgb(68, 68, 68);
}
.presentacion-casos div .bloques-videos .videos-casos iframe {
  width: 40em;
  height: 25em;
}

#testimonios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  height: 500px;
  text-align: center;
  border: 10px solid black;
}
#testimonios h2 {
  color: black;
  padding: 1rem;
  margin-bottom: 0;
}
#testimonios p {
  font-size: 20px;
  margin-bottom: 0;
  padding: 1rem;
}
#testimonios .formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 10px;
}
#testimonios .formulario label {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
}
#testimonios .formulario textarea {
  width: 80%;
  height: 60px;
  margin-bottom: 2em;
}

.portada-contacto {
  height: 100vh;
  background: linear-gradient(rgba(142, 142, 142, 0.671), rgba(33, 33, 33, 0.6)), url(../img/topicos-img.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.portada-contacto h1 {
  color: black;
  font-weight: 800;
  text-shadow: 0 0 10px white;
  background-color: rgba(0, 0, 0, 0.479);
  padding: 50px;
  width: 100%;
  text-align: left;
}
.portada-contacto p {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  background-color: rgba(0, 255, 255, 0.344);
  padding: 35px;
  width: 100%;
  text-align: right;
}

.contacto {
  height: 500px;
  text-align: center;
}
.contacto h2 {
  color: black;
  font-size: 30px;
  padding: 40px;
}
.contacto form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
.contacto form .form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.contacto form .form-item:nth-child(5) textarea {
  height: 100px;
  width: 100%;
  font-size: 1nth 2px, 4px, 5px, 10px, 15px, 20px, 30px, 40px, 50px, 500px, 3;
}
.contacto form .form-item label {
  font-size: 1.5rem;
  align-self: flex-start;
}
.contacto form .form-item .input {
  height: 30px;
  width: 100%;
}
.contacto form .enviar input {
  color: white;
  padding: 0.5em 2em 0.5em 2em;
  background-color: black;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  margin-top: 5em;
  transition: 2s;
}
.contacto form .enviar input:hover {
  background-color: grey;
  padding: 0.5em 4em 0.5em 4em;
}

.ayuda {
  min-height: 800px;
  background-image: url(../img/cerebro.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ayuda h2 {
  font-size: 30px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.479);
  box-shadow: inset 0 0 20px white;
  padding: 50px;
  text-align: center;
}
.ayuda p {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.ayuda div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em;
  border: 20px groove rgba(0, 0, 0, 0.479);
}
.ayuda div .tarjeta-psi {
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 10px groove rgba(0, 0, 0, 0.479);
}
.ayuda div .tarjeta-psi h3 {
  font-size: 2nth 2px, 4px, 5px, 10px, 15px, 20px, 30px, 40px, 50px, 500px, 3 !important;
  font-weight: 700 !important;
  text-align: center;
  background: #ffffff;
  background: linear-gradient(88deg, rgb(255, 255, 255) 18%, rgb(166, 159, 159) 47%, rgb(186, 232, 232) 70%);
  padding: 1rem;
  width: 100%;
  text-shadow: 5px 5px 10px black;
}
.ayuda div .tarjeta-psi img {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px black;
}
.ayuda div .tarjeta-psi .matricula {
  margin-top: 1em;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border: 5px solid aqua;
  border-radius: 10px;
}
.ayuda div .tarjeta-psi p {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ayuda div .tarjeta-psi p i {
  font-size: 1.5em;
  margin-right: 1rem;
  transition: 1.5s;
}
.ayuda div .tarjeta-psi p i:hover {
  color: aqua;
}

.portada-acerca-de {
  height: 100vh;
  background-image: url(../img/acerca-de-img.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.portada-acerca-de h1 {
  padding: 80px;
}
.portada-acerca-de p {
  font-size: 1.5em;
  color: white;
  margin-top: 5px;
}

.nosotros {
  height: auto;
  text-align: center;
  padding: 80px;
}
.nosotros h2 {
  background-color: aqua;
  color: black;
}
.nosotros p {
  font-size: 20px;
  margin-left: 8em;
  margin-right: 8em;
}

footer {
  height: 80px !important;
  background-image: url(../img/footer.gif);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer a i {
  font-size: 50px;
  color: white;
  transition: 1s;
}
footer a i:hover {
  color: aqua;
}

@media screen and (max-width: 1446px) {
  .contenido-video h3 {
    font-size: 1.8rem !important;
    padding: 0.5em !important;
  }
  .contenido-video p {
    font-size: 1.5rem !important;
    padding: 0.5rem !important;
  }
}
@media screen and (max-width: 1300px) {
  .casos {
    height: 750px;
  }
  .casos .bloque-casos-catarsis {
    height: 650px;
  }
  .casos .bloque-casos-catarsis h3 {
    margin-top: 0.5em;
  }
  .casos .bloque-casos-catarsis .carousel {
    margin-top: 0;
  }
  .bloques-videos {
    height: 50em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center;
  }
  .bloques-videos .contenido-video {
    text-align: center;
  }
}
@media screen and (max-width: 1260px) {
  .contacto {
    height: auto;
  }
  .contacto form {
    gap: 5px !important;
    margin-bottom: 1em;
  }
  .ayuda div {
    flex-direction: column;
    height: fit-content;
  }
  .ayuda div .tarjeta-psi {
    flex-direction: row;
    width: 90%;
    margin: 0.5em;
  }
  .ayuda div .tarjeta-psi h3 {
    width: 20%;
  }
}
@media screen and (max-width: 1100px) {
  .contenedor-general .contenedor-tarjetas {
    justify-content: center !important;
    flex-wrap: nowrap !important;
  }
  .contenedor-general .contenedor-tarjetas .tarjeta-concepto {
    height: 30em !important;
    width: 30% !important;
    margin: 5px !important;
  }
  .contenedor-general .boton {
    margin-top: 5em;
  }
  .ayuda div .tarjeta-psi .matricula {
    padding: 2px !important;
  }
}
@media screen and (max-width: 1000px) {
  .ayuda div .tarjeta-psi {
    flex-wrap: wrap;
  }
  .ayuda div .tarjeta-psi h3 {
    font-size: 1.2em;
  }
  .ayuda div .tarjeta-psi img {
    width: 8em;
    height: 8em;
  }
  .ayuda div .tarjeta-psi .matricula {
    font-size: 1em;
  }
}
@media screen and (max-width: 917px) {
  .hero h1 {
    font-size: 2em;
  }
  .hero p {
    font-size: 0.75em;
  }
  .topicos h2 {
    font-size: 1.5em;
  }
  .casos {
    background-image: none;
  }
  .casos h2 {
    font-size: 1.5em;
  }
  .casos .bloque-casos-catarsis {
    width: 100%;
    margin-top: 0;
    justify-content: space-between;
  }
  .casos .bloque-casos-catarsis h3 {
    margin: 0.5em;
  }
  .casos .bloque-casos-catarsis .carousel {
    width: 80%;
    margin-bottom: 0.2em;
    margin-left: 0;
    align-self: center;
  }
  .presentacion-topicos h1 {
    font-size: 2em;
  }
  .presentacion-topicos p {
    font-size: 1.5em;
  }
  .grid-contenedor {
    grid-template-columns: 200px 1fr;
    gap: 2px;
  }
  .grid-contenedor .lista {
    padding: 2.5px;
  }
  .grid-contenedor .lista h2 {
    font-size: 18px;
    padding: 2.5px;
    margin-bottom: 2.5px;
  }
  .grid-contenedor .lista ol {
    padding: 2.5px;
  }
  .grid-contenedor .lista ol li {
    margin: 3px;
  }
  .grid-contenedor .descripcion-topicos {
    margin-top: 20px;
    gap: 5px;
    padding: 2px;
  }
  .grid-contenedor .descripcion-topicos .tarjeta-topico {
    margin-top: 10px;
    width: auto;
  }
  .presentacion-casos div .bloques-videos .videos-casos {
    width: 95%;
    height: 50%;
    padding: 10px;
    margin-bottom: 1em;
  }
  .presentacion-casos div .bloques-videos .videos-casos iframe {
    width: 100% !important;
    height: 100% !important;
  }
  .nosotros p {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media screen and (max-width: 917px) {
  #testimonios {
    height: auto;
  }
}
@media screen and (max-width: 795px) {
  header {
    height: max-content;
  }
  header p {
    margin-left: 2em;
  }
  header .menu-icon {
    display: block;
    color: white;
    padding: 0.3em;
    border: 1px solid rgb(75, 75, 75);
    box-shadow: inset 0 0 10px aqua;
    margin-left: auto;
    margin-right: 6px !important;
  }
  header .menu-hamburguesa-checkbox:checked ~ nav ul {
    display: flex;
  }
  header nav ul {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.666);
    position: absolute;
    top: 80px;
    right: 0;
    width: 10em;
    height: 300px;
    text-align: left;
  }
  header nav ul li {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  header nav ul li a {
    color: black;
    padding: 0.5em;
  }
  .topicos h2 {
    padding: 1em;
  }
  .contenedor-general .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .contenedor-general .contenedor-tarjetas .tarjeta-concepto {
    margin: 0 auto !important;
    height: 40%;
    width: 80% !important;
  }
  .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back p {
    padding: 4em !important;
    text-align: center;
  }
  .contenedor-general .boton {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .explorador-topicos .dropdown-contenedor {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }
  .explorador-topicos .dropdown-contenedor .dropdown .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }
  .explorador-topicos .dropdown-contenedor .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 255, 255, 0.833);
  }
  .grid-contenedor {
    display: flex;
    flex-direction: column;
  }
  .grid-contenedor .lista {
    display: none;
  }
  .presentacion-casos div h2 {
    font-size: 1.7em;
    padding: 1rem;
  }
  .presentacion-casos div .bloques-videos .contenido-video h3 {
    font-size: 1.5rem !important;
  }
  .presentacion-casos div .bloques-videos .contenido-video p {
    font-size: 1.2rem !important;
  }
  .portada-contacto h1 {
    font-size: 2em;
  }
  .portada-contacto p {
    font-size: 1.2em;
  }
  .contacto form {
    margin: 2em;
  }
  .contacto form label {
    font-size: 1.2em !important;
  }
  .contacto form .enviar input {
    margin-top: 5px !important;
  }
  .ayuda h2 {
    font-size: 1.5em !important;
  }
  .ayuda p {
    font-size: 1.2rem !important;
  }
  .ayuda div .tarjeta-psi {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
  }
  .ayuda div .tarjeta-psi h3 {
    width: 100%;
  }
  .portada-acerca-de p {
    margin: 10px 20px 10px 20px !important;
  }
}
@media screen and (max-width: 580px) {
  header p {
    font-size: 30px !important;
  }
  header nav ul {
    width: 10rem;
  }
  .contenedor-general .contenedor-tarjetas .tarjeta-concepto .tarjeta-inner .tarjeta-back p {
    padding: 1em !important;
  }
  .casos .bloque-casos-catarsis {
    justify-content: space-evenly;
  }
  .casos .bloque-casos-catarsis .carousel {
    width: 90%;
  }
}
@media screen and (max-width: 460px) {
  header {
    height: 60px;
  }
  header .logo {
    height: 60px;
  }
  header p {
    font-size: 20px !important;
  }
  header nav ul {
    top: 60px;
    height: 200px;
  }
  header nav ul li {
    margin: 0.5em;
  }
  footer {
    height: 60px !important;
  }
  footer i {
    font-size: 40px !important;
  }
  .portada-casos h1 {
    font-size: 2.5em;
    margin-bottom: 2em;
  }
  .portada-casos p {
    font-size: 1.5em;
  }
  .contacto form {
    margin-left: 5px !important;
  }
  .ayuda div {
    margin: 0.5em !important;
  }
  .nosotros {
    padding: 2em;
  }
  .nosotros p {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 1.5em;
  }
  .presentacion-topicos {
    justify-content: flex-start;
  }
  .presentacion-topicos h1 {
    font-size: 1.5em;
  }
  .presentacion-topicos p {
    font-size: 1.2em;
  }
  #testimonios h2 {
    font-size: 1.5em;
  }
  #testimonios p {
    font-size: 1em;
  }
  .contacto form .form-item {
    width: 90%;
  }
  .portada-acerca-de h1 {
    font-size: 2em;
  }
  .portada-acerca-de p {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=estilos.css.map */
