@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: "Sansation", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

h1 {
  color: white;
  font-size: 50px;
}

h2 {
  color: white;
  font-size: 30px;
}

.boton {
  display: inline-block !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.boton a {
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: inset 0 0 4px white;
  padding: 10px 15px 10px 15px;
  transition: 1s;
}
.boton a:hover {
  background-color: grey;
}

header {
  height: 80px;
  background: #ffffff;
  background: linear-gradient(123deg, rgb(255, 255, 255) 15%, rgb(94, 94, 94) 59%, rgb(0, 0, 0) 91%);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
}
header .logo {
  height: 80px;
}
header p {
  margin-bottom: 0 !important;
  color: black;
  font-size: 40px;
}
header .menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
header .menu-hamburguesa-checkbox {
  display: none;
}
header nav ul {
  display: flex;
  margin-bottom: 0 !important;
}
header nav ul li a {
  color: wheat;
  padding: 10px;
  transition: 2s;
}
header nav ul li a:hover {
  background-color: rgba(128, 128, 128, 0.515);
  transform: scale(1);
}

.hero {
  height: 100vh;
  text-align: center;
  background-image: url(../img/imagenHeroSection.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
}
.hero h1 {
  background-color: rgba(0, 0, 0, 0.479);
  padding: 20px;
  margin-bottom: 0 !important;
}
.hero p {
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.tópicos {
  min-height: 800px;
  background-image: url(/img/topicos-img.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tópicos h2 {
  background-color: black;
  padding: 40px;
  text-align: center;
  box-shadow: inset 0 0 20px white;
}
.tópicos .contenedor-general {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tópicos .contenedor-general .contenedor-tajetas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tópicos .contenedor-general .contenedor-tajetas .tarjeta-concepto {
  background-color: rgba(255, 255, 255, 0.255);
  border: 2px solid white;
  width: 25%;
  height: 20em;
  margin: 2em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tópicos .contenedor-general .contenedor-tajetas .tarjeta-concepto h3 {
  margin-bottom: 0.5em;
  color: aqua;
  font-size: 25px;
}
.tópicos .contenedor-general .contenedor-tajetas .tarjeta-concepto p {
  color: black;
  margin-bottom: 1em;
  font-size: 18px !important;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
}
.tópicos .contenedor-general .contenedor-tajetas .tarjeta-concepto a {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}

.casos {
  height: auto;
  background: linear-gradient(to top, rgb(15, 15, 15), white);
}
.casos h2 {
  background-color: gray;
  padding: 30px;
  text-align: center;
  margin-bottom: 0 !important;
  box-shadow: inset 0 0 20px white;
}
.casos .bloque-casos-catarsis {
  width: 100% !important;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.casos .bloque-casos-catarsis h3 {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.344);
  width: 100%;
  padding: 25px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.casos .bloque-casos-catarsis .carousel {
  width: 80%;
  margin-bottom: 20px;
}
.casos .bloque-casos-catarsis .carousel .carousel-inner .carousel-caption {
  width: 100%;
  left: 0;
}
.casos .bloque-casos-catarsis .carousel .carousel-inner .carousel-caption h5 {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.407);
  margin-bottom: 0;
}
.casos .bloque-casos-catarsis .carousel .carousel-inner .carousel-caption p {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.407);
}

.presentacion-topicos {
  height: 100vh;
  background-image: url(../img/topicos-portada-mente.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.presentacion-topicos h1 {
  color: white;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.373);
  padding: 40px;
  margin-bottom: 20px;
}
.presentacion-topicos p {
  color: white;
  font-size: 30px;
}

.explorador-topicos .dropdown-contenedor {
  display: none;
}

.grid-contenedor {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  align-items: start;
}
.grid-contenedor .lista {
  position: sticky;
  top: 80px;
  background: white;
  height: fit-content !important;
  padding: 4px;
}
.grid-contenedor .lista h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.56);
  font-size: 20px;
  text-align: center;
  padding: 4px;
  margin-bottom: 4px;
}
.grid-contenedor .lista ol {
  padding: 4px;
  text-align: center;
}
.grid-contenedor .lista ol li {
  margin: 4px;
  padding-left: 15%;
  padding-right: 15%;
  border: 2px solid gray;
  background-color: rgba(0, 255, 255, 0.403);
}
.grid-contenedor .lista ol li:hover {
  background-color: rgba(146, 146, 146, 0.647);
  border-color: aqua;
}
.grid-contenedor .lista ol li a {
  color: black;
}

.descripcion {
  display: grid;
  grid-template-columns: repeat auto-fill, minmax 200px, 1fr;
  gap: 20px;
}
.descripcion .article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  margin: 10px;
  border: 1px solid grey;
}
.descripcion .article h3 {
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.348);
}
.descripcion .article p {
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
}
.descripcion .article img {
  width: 80%;
  max-height: 500px;
  align-self: center;
}

.portada-casos {
  height: 100vh;
  text-align: center;
  background-image: url(../img/rostro.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.portada-casos h1 {
  color: white;
  font-size: 50px;
  margin: 30px;
}
.portada-casos p {
  color: white;
  font-size: 35px;
}

.presentacion-casos {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: space-between;
}
.presentacion-casos div h2 {
  background-color: rgba(0, 0, 0, 0.488);
  padding: 30px;
  text-align: center;
  border: 4px solid white;
  margin-bottom: 0;
}
.presentacion-casos div .bloques-videos {
  height: 500px;
  background-image: url(../img/otro.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.presentacion-casos div .bloques-videos .contenido-videos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.presentacion-casos div .bloques-videos .contenido-videos h3 {
  font-size: 2em !important;
  padding: 20px !important;
  background-color: rgba(0, 255, 255, 0.374) !important;
}
.presentacion-casos div .bloques-videos .contenido-videos p {
  font-size: 1.5rem;
  padding: 10px;
}
.presentacion-casos div .bloques-videos .videos-casos {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.475);
  box-shadow: -5px -5px 20px rgb(68, 68, 68);
}
.presentacion-casos div .bloques-videos .videos-casos iframe {
  height: 400px;
}

#testimonios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  height: 500px;
  text-align: center;
  border: 10px solid black;
}
#testimonios h2 {
  color: black;
  padding: 30px;
}
#testimonios p {
  font-size: 20px;
}
#testimonios .formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 20px;
}
#testimonios .formulario label {
  font-size: 1.5rem;
  text-decoration: solid;
  margin: 10px;
}
#testimonios .formulario label #testimonio {
  width: 80%;
  height: 60px;
  margin-bottom: 10px;
}

.portada-contacto {
  height: 100vh;
  background-image: url(../img/contacto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.portada-contacto h1 {
  color: black;
  margin-bottom: 200px;
  background-color: rgba(0, 0, 0, 0.397);
  padding: 50px;
}
.portada-contacto p {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.397);
  margin-left: 100px;
  margin-right: 100px;
  padding: 35px;
}

.contacto {
  height: 400px;
  text-align: center;
}
.contacto h2 {
  color: black;
  font-size: 30px;
  padding: 40px;
}
.contacto form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
.contacto form .form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.contacto form .form-item label {
  font-size: 1.5rem;
}
.contacto form .form-item .input {
  height: 30px;
  width: 80%;
  border-color: aqua;
}
.contacto form .form-item textarea {
  height: 80px;
  width: 600px;
  font-size: 15px;
}
.contacto form div:nth-child(6) {
  width: 100px;
  margin: 50px 280px;
}

.ayuda {
  min-height: 800px;
  background-image: url(../img/fondo-ayuda.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ayuda h2 {
  font-size: 30px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.307);
  padding: 50px;
  text-align: center;
}
.ayuda p {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.ayuda div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  padding: 50px;
  border: 30px groove rgba(0, 0, 0, 0.545);
}
.ayuda div .tarjeta-psi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.ayuda div .tarjeta-psi h3 {
  font-size: 25px;
  margin: 10px;
}
.ayuda div .tarjeta-psi img {
  margin: 10px;
  border: 2px solid black;
}
.ayuda div .tarjeta-psi p {
  font-size: 20px;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.ayuda div .tarjeta-psi p img {
  border: none;
}

.portada-acerca-de {
  height: 650px;
  background-image: url(../img/acerca-de-img.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.portada-acerca-de h1 {
  padding: 80px;
}
.portada-acerca-de p {
  font-size: 1.5em;
  color: white;
  margin-top: 5px;
}

.nosotros {
  height: auto;
  text-align: center;
  padding: 80px;
}
.nosotros h2 {
  background-color: aqua;
  color: black;
}
.nosotros p {
  font-size: 20px;
  margin-left: 8em;
  margin-right: 8em;
}

footer {
  height: 80px !important;
  background-image: url(../img/footer.gif);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
footer a {
  margin-top: 1rem;
}
footer a i {
  font-size: 50px;
  color: white;
  transition: 1s;
}
footer a i:hover {
  color: aqua;
}

@media screen and (max-width: 1100px) {
  .contenedor-general .contenedor-tarjetas {
    display: flex;
    justify-content: center;
  }
  .contenedor-general .tarjeta-concepto {
    margin: 1em;
    min-height: initial;
    width: 30%;
  }
  .contenedor-general .boton {
    margin-top: 5em;
  }
}
@media screen and (max-width: 917px) {
  .hero h1 {
    font-size: 2em;
  }
  .hero p {
    font-size: 0.75em;
  }
  .topicos h2 {
    font-size: 1.5em;
  }
  .topicos .contenedor-general .contenedor-tarjetas {
    display: flex;
    justify-content: space-evenly;
  }
  .topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto {
    margin: 0;
  }
  .topicos .contenedor-general .contenedor-tarjetas .tarjeta-concepto p {
    font-size: 1em !important;
  }
  .casos h2 {
    font-size: 1.5em;
  }
  .casos .bloque-casos-catarsis {
    width: 100%;
    margin-bottom: 1em;
  }
  .casos .bloque-casos-catarsis .carousel {
    width: 80%;
    margin-bottom: 0.5em;
  }
  .presentacion-topicos h1 {
    font-size: 2em;
  }
  .presentacion-topicos p {
    font-size: 1.5em;
  }
  .grid-contenedor {
    grid-template-columns: 200px 1fr;
    gap: 2px;
  }
  .grid-contenedor .lista {
    padding: 2.5px;
  }
  .grid-contenedor .lista h2 {
    font-size: 18px;
    padding: 2.5px;
    margin-bottom: 2.5px;
  }
  .grid-contenedor .lista ol {
    padding: 2.5px;
  }
  .grid-contenedor .lista ol li {
    margin: 3px;
  }
  .grid-contenedor .descripcion-topicos {
    margin-top: 20px;
    gap: 5px;
    padding: 2px;
  }
  .grid-contenedor .descripcion-topicos .tarjeta-topico {
    margin-top: 10px;
    width: auto;
  }
  .nosotros p {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media screen and (max-width: 755px) {
  header {
    height: max-content;
  }
  header p {
    margin-left: 2em;
  }
  header .menu-icon {
    display: block;
    color: white;
    padding: 0.3em;
    border: 1px solid rgb(75, 75, 75);
    box-shadow: inset 0 0 10px aqua;
    margin-left: auto;
  }
  header .menu-hamburguesa-checkbox:checked ~ nav ul {
    display: flex;
  }
  header nav ul {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.666);
    position: absolute;
    top: 70px;
    right: 0;
    width: 30%;
    height: 300px;
    text-align: center;
  }
  header nav ul li {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  header nav ul li a {
    color: black;
    padding: 1em;
  }
  .topicos h2 {
    padding: 1em;
  }
  .contenedor-general .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contenedor-general .contenedor-tarjetas .tarjeta-concepto {
    margin: 1em;
    height: 40%;
    width: 80%;
  }
  .contenedor-general .contenedor-tarjetas .boton {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .explorador-topicos .dropdown-contenedor {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }
  .explorador-topicos .dropdown-contenedor .dropdown .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }
  .explorador-topicos .dropdown-contenedor .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 255, 255, 0.833);
  }
  .grid-contenedor {
    display: flex;
    flex-direction: column;
  }
  .grid-contenedor .lista {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  header {
    height: 60px;
  }
  header .logo {
    height: 60px;
  }
  header p {
    font-size: 20px !important;
  }
}
footer {
  height: 60px;
}
footer a {
  margin-top: 0.2em;
  margin-bottom: 0.5em i;
  margin-bottom-font-size: 40px;
}

.nosotros {
  padding: 2em;
}
.nosotros p {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 1.5em;
  }
  .presentacion-topicos {
    justify-content: flex-start;
  }
  .presentacion-topicos h1 {
    font-size: 1.5em;
  }
  .presentacion-topicos p {
    font-size: 1.2em;
  }
  .portada-acerca-de h1 {
    font-size: 2em;
  }
  .portada-acerca-de p {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=estilos.css.map */
