
/*Sección Presentacion Tópicos*/
.presentacion-topicos {
    height: 100vh;
    background-image: url(../img/topicos-portada-mente.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}
.presentacion-topicos h1 {
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.373);
    padding: 20px;}
.presentacion-topicos p {
    color: white;
    font-size: 30px;}

/*Sección GRID*/
.grid-contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 400px 400px;
    gap: 20px;} 

.grid-item {
    border: 2px solid black;
}
.lista {
    grid-row: span 2;
    position: sticky;
    top: 600px;
    background: white;
}
.descripcion {
    grid-row: span 2;}

/*Sección Lista de Tópicos*/

#lista-topicos {
    width: 20%;
    height: 500px;
    border: 2px solid black;
    padding: 20px;}
#lista-topicos h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;}
#lista-topicos ol 
#lista-topicos ol li {
    margin: 10px;
    padding-left: 15%;
    padding-right: 15%;
    border: 2px solid gray;
    background-color: rgba(0, 255, 255, 0.403);}
#lista-topicos ol li a {
    color: black;}
.descripcion-topicos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;}
.descripcion-topicos article {
    padding: 20px;}
.tarjeta-topico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    margin: 20px;
    border: 1px solid grey;}
.tarjeta-topico h3 {
    text-transform: uppercase;
    margin: 10px;
    width: 100%;}
.tarjeta-topico p {
    width: 100%;
    margin: 20px 0;}
.tarjeta-topico img {
    width: 100%;
    max-width: 600px;
    height: auto;}