footer {
    height: 80px !important;
    background-image: url(../img/footer.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        i {
            font-size: nth($sizes, 9);
            color: $color-secundario;
            transition: 1s;
            &:hover {
                color: nth($colores, 1);}
        }
    }
}
