//*----INDEX----
//* Sección Hero
.hero {
    height: 100vh;
    text-align: center;
    background-image: url(../img/imagenHeroSection.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flex (flex, column, flex-start);
    align-items: normal;

    h1 {
        background-color: nth($colores, 5);
        padding: nth($sizes, 6);
        margin-bottom: 0 !important;
        animation: slidein 2s ease-in-out;
    }

    p {
        font-size: 35px;
        margin-left: nth($sizes, 6);
        margin-right: nth($sizes, 6);
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

//*Sección Tópicos
.topicos {
    min-height: 6nth($sizes, 9);
    background-image: url(../img/fondo-tarjetas.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
        background-color: $color-principal;
        padding: nth($sizes, 8);
        text-align: center;
        box-shadow: inset 0 0 nth($sizes, 6) $color-secundario;
    }

    .contenedor-general {
        @include flex (flex, column, space-evenly);

        .contenedor-tarjetas {
            display: flex;
            justify-content: space-evenly;
            align-items: stretch;
            flex-wrap: wrap;

            .tarjeta-concepto {
                width: 25%;
                height: 25em;
                margin: 2em;
                padding: 0.5em;
                perspective: 1000px;

                &:hover .tarjeta-inner {
                    transform: rotateY(180deg);
                }

                .tarjeta-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 2s ease;
                    transform-style: preserve-3d;

                    .tarjeta-front,
                    .tarjeta-back {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        border-radius: nth($sizes, 4);
                    }

                    .tarjeta-front {
                        background-color: $color-secundario;
                        z-index: 2;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: nth($sizes, 4);
                        }
                    }

                    .tarjeta-back {
                        @include flex (flex, column, space-between);
                        align-items: center;
                        background-color: nth($colores, 6);
                        transform: rotateY(180deg);
                        border: nth($sizes, 1) solid $color-principal;
                        box-shadow: nth($sizes, 2) nth($sizes, 2) nth($sizes, 6) nth($colores, 4);
                        padding: 1em;

                        h3 {
                            margin-bottom: 0.5em;
                            color: $color-principal;
                            font-size: 2nth($sizes, 3);
                        }

                        p {
                            color: $color-principal;
                            margin-bottom: 1em;
                            font-size: 18px !important;
                            background-color: $color-secundario;
                            padding: 0.5em;
                            border-radius: nth($sizes, 3);
                            box-shadow: nth($sizes, 2) nth($sizes, 2) nth($sizes, 6) nth($colores, 2);
                        }

                        a {
                            color: $color-secundario;
                            background-color: $color-principal;
                            width: 80%;
                            text-align: center;
                            border-radius: nth($sizes, 2);
                            padding: nth($sizes, 1);
                            transition: 2s;

                            &:hover {
                                background-color: nth($colores, 2);
                                color: $color-principal;
                                border: nth($sizes, 1) solid $color-terciario;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .boton {
            align-self: center;
        }
    }
}


//*Sección Casos
.casos {
    height: 950px;
    background: radial-gradient(circle, rgb(225, 225, 225, 1), rgba(166, 159, 159, 1), rgba(82, 229, 229));

    h2 {
        background-color: $color-principal;
        padding: nth($sizes, 7);
        text-align: center;
        margin-bottom: 0 !important;
        box-shadow: inset 0 0 nth($sizes, 6) $color-secundario;
    }

    .bloque-casos-catarsis {
        width: 100% !important;
        height: 750px;
        @include flex (flex, column, space-between);
        align-items: center;

        h3 {
            font-size: 1.5em;
            font-style: italic;
            text-align: center;
            background-color: nth($colores, 3);
            width: 100%;
            padding: 25px;
            margin-bottom: 1rem;
            margin-top: 1em;
        }

        .carousel {
            width: 60%;
            margin-bottom: 1em;
            align-self: center;
            margin-left: nth($sizes, 8);
            transition: transform 3s ease;
            &:hover {
                transform: scaleX(1.2);
            }

            .carousel-inner {
                .carousel-caption {
                    width: 100%;
                    left: 0;

                    h5 {
                        font-size: 2rem;
                        background-color: nth($colores, 5);
                        ;
                        margin-bottom: 0;
                    }

                    p {
                        font-size: 1.5rem;
                        background-color: nth($colores, 5);
                    }
                }
            }
        }
    }
}


//*----TÓPICOS----
//*Sección Presentacion Tópicos
.presentacion-topicos {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/persona-mente.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flex (flex, column, center);
    text-align: center;

    h1 {
        color: $color-secundario;
        font-size: nth($sizes, 9);
        padding: nth($sizes, 8);
        margin-bottom: nth($sizes, 6);
    }

    p {
        color: $color-secundario;
        font-size: nth($sizes, 7);
    }
}

//*Sección Explorador Tópicos
.explorador-topicos {
    .dropdown-contenedor {
        display: none;
    }
}

//*Sección Grid
.grid-contenedor {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: nth($sizes, 6);
    align-items: start;

    .lista {
        position: sticky;
        top: 80px;
        background: $color-secundario;
        height: fit-content !important;
        padding: nth($sizes, 2);

        h2 {
            color: $color-secundario;
            background-color: nth($colores, 5);
            font-size: nth($sizes, 6);
            text-align: center;
            padding: nth($sizes, 2);
            margin-bottom: nth($sizes, 2);
        }

        ol {
            padding: nth($sizes, 2);
            text-align: center;

            li {
                margin: nth($sizes, 2);
                padding-left: 15%;
                padding-right: 15%;
                border: nth($sizes, 1) solid $color-terciario;
                background-color: nth($colores, 3);

                &:hover {
                    background-color: $color-terciario;
                    border-color: nth($colores, 1);
                }

                a {
                    color: $color-principal;
                }
            }
        }
    }
}

//*Sección Descripción Tópicos
.descripcion {
    @include flex (flex, column, space-between);
    align-items: center;
    padding: nth($sizes, 6);

    .tarjeta-topico {
        @include flex (flex, column, space-between);
        align-items: flex-start;
        padding: nth($sizes, 8);
        margin: nth($sizes, 4);
        border: 1px solid $color-terciario;

        h3 {
            text-transform: uppercase;
            width: 100%;
            padding: 15px;
            background-color: nth($colores, 5);
        }

        p {
            width: 100%;
            margin: nth($sizes, 6) 0;
            font-size: 18px;
        }

        img {
            width: 80%;
            max-height: nth($sizes, 10);
            align-self: center !important;
        }
    }
}

//*----CASOS----
//*Sección Portada Casos
.portada-casos {
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(142, 142, 142, 0.671), rgba(33, 33, 33, 0.6)), url(../img/rostro.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

    h1 {
        color: $color-secundario;
        font-size: nth($sizes, 9);
        margin: nth($sizes, 7);
    }

    p {
        color: $color-secundario;
        font-size: 35px;
    }
}

//*Sección Presentación Casos
.presentacion-casos {
    min-height: 2000px;
    @include flex (flex, column, stretch);
    align-content: space-between;

    div {
        h2 {
            background-color: $color-principal;
            padding: nth($sizes, 7);
            text-align: center;
            box-shadow: inset 0 0 nth($sizes, 6) $color-secundario;
            margin-bottom: 0;
        }

        .bloques-videos {
            height: 30em;
            background: #ffffff;
            background: linear-gradient(88deg, rgba(255, 255, 255, 1) 18%, rgba(166, 159, 159, 1) 47%, rgba(186, 232, 232, 1) 70%);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .contenido-video {
                @include flex (flex, column, space-between);

                h3 {
                    font-size: 2em;
                    padding: 1em;
                    background-color: nth($colores, 3) !important;
                    width: 100%;
                }

                p {
                    font-size: 1.5rem;
                    padding: 1rem;
                }
            }

            .videos-casos {
                padding: nth($sizes, 6);
                background-color: rgba(255, 255, 255, 0.727);
                box-shadow: -5px -5px 20px rgb(68, 68, 68);

                iframe {
                    width: 40em;
                    height: 25em;
                }
            }
        }
    }
}

//*Sección Testimonios
#testimonios {
    @include flex (flex, column, center);
    margin: nth($sizes, 3);
    height: nth($sizes, 10);
    text-align: center;
    border: nth($sizes, 4) solid $color-principal;

    h2 {
        color: $color-principal;
        padding: 1rem;
        margin-bottom: 0;
    }

    p {
        font-size: nth($sizes, 6);
        margin-bottom: 0;
        padding: 1rem;
    }

    .formulario {
        @include flex (flex, column, space-evenly);
        align-items: baseline;
        padding: nth($sizes, 4);

        label {
            font-size: 1.5rem;
            font-weight: 700;
            margin: nth($sizes, 4);}

        .input {
            @extend %input;}

        textarea {
            width: 80%;
            height: 60px;
            margin-bottom: 2em;
            @extend %input;}
    }
}


//*----CONTACTO----
//*Sección Portada Contacto
.portada-contacto {
    height: 100vh;
    background: linear-gradient(rgba(142, 142, 142, 0.671), rgba(33, 33, 33, 0.6)), url(../img/contacto.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flex (flex, column, space-evenly);
    align-items: center;

    h1 {
        color: $color-principal;
        font-weight: 800;
        text-shadow: 0 0 nth($sizes, 4) $color-secundario;
        background-color: nth($colores, 5);
        padding: nth($sizes, 9);
        width: 100%;
        text-align: left;
    }

    p {
        color: $color-secundario;
        font-size: 25px;
        text-transform: uppercase;
        background-color: nth($colores, 3);
        padding: 35px;
        width: 100%;
        text-align: right;
    }
}

//*Sección Contacto
.contacto {
    height: nth($sizes, 10);
    text-align: center;

    h2 {
        color: $color-principal;
        font-size: nth($sizes, 7);
        padding: nth($sizes, 8);}

    form {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: nth($sizes, 7);

        .form-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: nth($sizes, 6);
            &:nth-child(5) {
                textarea {
                height: 100px;
                width: 100%;
                font-size: 1nth($sizes, 3);
                }}

            label {
                font-size: 1.5rem;
                align-self: flex-start;}

            .input {
                height: nth($sizes, 7);
                width: 100%;
                @extend %input;
                }}
        .enviar {
            input {
                color: $color-secundario;
                padding: 0.5em 2em 0.5em 2em;
                background-color: $color-principal;
                border: nth($sizes, 1) solid $color-terciario;
                border-radius: nth($sizes, 4);
                box-shadow: nth($sizes, 3) nth($sizes, 3) nth($sizes, 4) $color-principal;
                margin-top: 5em;
                transition: 2s;
                &:hover {
                    background-color: $color-terciario;
                    padding: 0.5em 4em 0.5em 4em;
                }
            }
        }
    }
}


//*Sección Ayuda
.ayuda {
    min-height: 800px;
    background-image: url(../img/cerebro.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    h2 {
        font-size: nth($sizes, 7);
        margin-bottom: nth($sizes, 6);
        background-color: nth($colores, 5);
        box-shadow: inset 0 0 nth($sizes, 6) $color-secundario;
        padding: nth($sizes, 9);
        text-align: center;
    }

    p {
        font-size: 25px;
        margin-bottom: nth($sizes, 6);
        text-align: center;
    }

    div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 2em;
        border: nth($sizes, 6) groove nth($colores, 5);

        .tarjeta-psi {
            width: 25%;
            background-color: $color-secundario;
            @include flex (flex, column, space-evenly);
            align-items: center;
            border: nth($sizes, 4) groove nth($colores, 5);
;

            h3 {
                font-size: 2nth($sizes, 3) !important;
                font-weight: 700 !important;
                text-align: center;
                background: #ffffff;
                background: linear-gradient(88deg, rgba(255, 255, 255, 1) 18%, rgba(166, 159, 159, 1) 47%, rgba(186, 232, 232, 1) 70%);
                padding: 1rem;
                width: 100%;
                text-shadow: nth($sizes, 3) nth($sizes, 3) nth($sizes, 4) $color-principal
            }

            img {
                margin: nth($sizes, 4);
                border-radius: nth($sizes, 3);
                box-shadow: nth($sizes, 2) nth($sizes, 2) nth($sizes, 4) $color-principal;
            }

            .matricula {
                margin-top: 1em;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border: nth($sizes, 3) solid nth($colores, 1);
                border-radius: nth($sizes, 4);
            }

            p {
                font-size: nth($sizes, 6);
                display: flex;
                justify-content: space-between;
                align-items: center;

                i {
                    font-size: 1.5em;
                    margin-right: 1rem;
                    transition: 1.5s;
                    &:hover {
                        color: nth($colores, 1);
                    }
                }
            }
        }
    }
}

//*----ACERCA DE----
//*Sección Poratada Acerca De
.portada-acerca-de {
    height: 100vh;
    background-image: url(../img/acerca-de-img.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

    h1 {
        padding: 80px;
    }

    p {
        font-size: 1.5em;
        color: $color-secundario;
        margin-top: nth($sizes, 3);
    }
}

//*Sección Nosotros
.nosotros {
    height: auto;
    text-align: center;
    padding: 80px;

    h2 {
        background-color: nth($colores, 1);
        color: $color-principal;
    }

    p {
        font-size: nth($sizes, 6);
        margin-left: 8em;
        margin-right: 8em;
    }
}